@model Rating_Comment.Models.tbl_platter

@{
    ViewBag.Title = "Addplatter";
}

<h2>Addplatter</h2>


@using (Html.BeginForm("Addplatter", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="form-horizontal">
        <h4>tbl_platter</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.platter_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.platter_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.platter_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.platter_description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.platter_description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.platter_description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.platter_image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="image1" name="image1" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.platter_price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.platter_price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.platter_price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rest_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.HiddenFor(model => model.Rest_id, new { Value = "2" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.secret_code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.HiddenFor(model => model.secret_code, new { Value = "2" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
